<h1>Information about game: <br>
    {{game?.title}} <br>
    <!-- <span *ngFor = "star in stars track by $index" class="glyphicon glyphicon-star"></span> -->
    
</h1>

    
         
        Price: {{game?.price}}<br>
        Minimum Players: {{game?.minPlayers}}<br>
        Maximum Players: {{game?.maxPlayers}}<br>
        Minimum Age: {{game?.minAge}}

        
   

    <p>
    <a style="text-align: center; background-color: lightgrey; border: 2px solid gray;" routerLink="/games">BackToGames</a>
<span *ngIf="!updateFlag"><button style="background-color: brown;"
        (click)="showForm()">UpdateGame</button></span>

</p>



<form *ngIf="updateFlag" #gameForm = "ngForm" (ngSubmit) = "onUpdateGame()" novalidate>
    To update the game please fill in all the field below <br>

    <div>
        <label>
            Title:<input type="text" name = "title"  id="title" placeholder="Game Title" 
             ngModel required/>
             <span *ngIf="gameForm.controls.title.invalid && 
             (gameForm.controls.title.dirty || gameForm.controls.title.touched)">Please provide a title</span>
       
             </label>
    </div>
    <div>
        <label>
            Price: 
            <input type="number" name = "price"  id="price" placeholder="Price" ngModel/>
        </label>
    </div>
    <div>
        <label>
            Minimum Players: 
            <input type="number" name = "minPlayers"  id="minPlayers" placeholder="MinPlayers" ngModel/>
        </label>
    </div>
    <div>
        <label>
            Maximum Players: 
            <input type="number" name = "maxPlayers" placeholder="maxPlayers" ngModel/>
        </label>
    </div>
    <div>
        <label>
            Minimum Age: 
            <input type="number" name = "minAge" placeholder="minAge" ngModel/>
        </label>
    </div>

    <button type="submit" [disabled] = "gameForm.invalid" class="btn-success" >Update</button>
    <!-- <button type="button" (click)="onClear()">Clear</button> -->
</form>


