<p>navigation works!</p>

<ul class="nav navbar-new">
    <li>
        <a [routerLink] = "['/']">Home</a>
    </li>
    <li>
        <a [routerLink] = "['games']">Games</a>
    </li>
    <li>
        <a [routerLink] = "['register']">Register</a>
    </li>
    <li>
        <a [routerLink] = "['parent']">Parent</a>
    </li>
    <li style="justify-content: flex-end;">
        <app-login></app-login>
    </li>
</ul>

<!-- <a (click) ="onHome()">Home</a>
<a (click)="onGames()">Games</a>
<a (click)="onRegister()">Register</a>
<a (click)="onParent()">Parent</a> -->


<!-- <button (click) ="onHome()">Home</button>
<button (click)="onGames()">Games</button>
<button (click)="onRegister()">Register</button>
<button (click)="onParent()">Parent</button> -->
