<h1>{{vm.title}}</h1>

To search a new games please fill in all the field below <br>
Longitude : <input type="number" name="lng" required ng-model="vm.lng" style="color: black">
<span ng-show="vm.lng.$dirty && vm.lng.$invalid" style="color: red;"> lng should be
    number</span>
Latitude : <input type="number" name="lat" required ng-model="vm.lat" style="color: black">
<span ng-show="vm.lat.$dirty && vm.lat.$invalid" style="color: red;"> lat should be
    number </span>

Distance : <input type="number" min = 0 name="dist" required ng-model="vm.dist" style="color: black">
<span ng-show="vm.dist.$dirty && vm.dist.$invalid" style="color: red;"> distance
    should be positive </span>    


<button ng-click="vm.findLocation()">Search Location</button>

<span ng-show="vm.locationParams" style="color: red;">Please insert valid coordinates</span>


<table>
    <tr ng-repeat="job in vm.jobs ">
        <td>{{job.title}}</a></td>
        <td><a ng-href="#!/job/{{job._id}}">Details</a></td>
        <td><span><button style="background-color: red;" ng-click="vm.delete(job._id)">DeleteJob</button></span></td>

    </tr>
</table>

<div>

    <select id="numberOfjobs" ng-model="vm.selectedNumber" ng-onchange="vm.getNJobs(num)"
        ng-options="num for num in vm.numberofJobs">

    </select>
    <div ng-if="vm.selectedNumber !=0? vm.getNJobs(vm.selectedNumber):cc=true;">{{num}}</div>

    <span ng-if="selectedNumber">{{selectedNumber}} </span>

    <span class="iterate"> <button ng-click="vm.previous()" style="margin: 10px;">previous</button>
        <button ng-click="vm.next()">next</button></span>

</div>


<br><br>
<form name="vm.jobForm" ng-submit="vm.addJob()">
    To add a new job please fill in all the field below <br>
    Title : <input type="text" name="title" required ng-model="vm.jobTitle" style="color: black">
    <span ng-show="vm.jobForm.title.$dirty && vm.jobForm.title.$invalid" style="color: red;"> title should be
        string</span><br>
    Salary : <input type="number" name="salary" min="0" required ng-model="vm.jobSalary" style="color: black">
    <span ng-show="vm.jobForm.salary.$dirty && vm.jobForm.salary.$invalid" style="color: red;"> salary should be digits
    </span><br>

    Description : <input type="text" name="description" required ng-model="vm.jobDescription" style="color: black">
    <span ng-show="vm.jobForm.description.$dirty && vm.jobForm.description.$invalid" style="color: red;"> description
        should be required </span><br>

    Skills : <input type="text" name="skills" required ng-model="vm.jobSkills" style="color: black">
    <span ng-show="vm.jobForm.skills.$dirty && vm.jobForm.skills.$invalid" style="color: red;"> skills
        should be required </span><br>

    Exprience : <input type="text" name="exprience" required ng-model="vm.jobExprience" style="color: black">
    <span ng-show="vm.jobForm.exprience.$dirty && vm.jobForm.exprience.$invalid" style="color: red;"> description
        should be required </span><br>

    PostDate : <input type="date" name="postDate" ng-model="vm.jobPostDate" style="color: black">
    <span ng-show="vm.jobForm.postDate.$dirty && vm.jobForm.postDate.$invalid" style="color: red;"> postDate should be
        date type </span><br>

    <button type="submit" class="btn-success">Add Job</button>
</form>